body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#blankspace {
    width: 100%;
    background-color: #FFFFFF;
    margin:0 auto;
    height: 30px;
}

.container {
    max-width: 1200px;
    margin:0 auto;
}

#logo {
    margin-top: 5px;
    float: left;
}

#topbar {
    width: 100%;
    background-color: #41A2D3;
    margin:0 auto;
    height: 80px;
}

#topbar-nav {
    position: relative;
    margin-top: 25px;
    margin-left: 50px;
    float: left;
    font-size: 150%;
}

.topbar-menu {
    margin-right: 40px;
}

a:link {
    color: #FFFFFF;
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color:  #000000;
    font-weight: bold;
}

a:active {
    text-decoration: none;
}